/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.jumbotron {
	position: relative;
	background: none;
     text-align: right;
}

.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.6;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #3e3e3e;
}

.jumbotron h1{
     color: #3d2f1f;
}

.project{
     display: inline;
     width: fit-content;
     float: left;
     margin: 1em;
}
.project a {
     text-align: center;
     color: #ebdec8;
     background-color: #706A60;
     border-color: transparent;
     padding-top: 1em;
     padding-left: 0.5em;
     padding-right: 0.5em;
}
.project a img{
     border-radius: 4px;
}
.project a:hover {
     background-color: #5c574e;
     border-color: transparent;
}
.project a:hover img{
     opacity: 0.6
}
body{
     background-color: #222;
     color: #9e9e9e;
     text-align: justify;
}

a{
     color: #fff2d9;
}
a:hover{
     color: #b8ae9c;
}
ol li{
     display: inline;
     margin: 1em;
}
